/.idea/.idea.SearchTest/.idea/.gitignore
/SearchTest/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/.idea/.idea.SearchTest/.idea/indexLayout.xml
/.idea/.idea.SearchTest/.idea/riderModule.iml
/SearchTest/obj/Debug/SearchTest.csproj.CoreCompileInputs.cache
/SearchTest/obj/Debug/SearchTest.csproj.FileListAbsolute.txt
/SearchTest/obj/Debug/SearchTest.csprojAssemblyReference.cache
/SearchTest/bin/Debug/SearchTest.exe
/SearchTest/obj/Debug/SearchTest.exe
/SearchTest/bin/Debug/SearchTest.pdb
/SearchTest/obj/Debug/SearchTest.pdb
/.idea/.idea.SearchTest/.idea/vcs.xml
